@font-face{
    src: url('./fonts/Quicksand-Regular.ttf');
    font-family: Quicksand-Regular;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Quicksand-Regular';
    list-style: none;
    text-decoration: none;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #fff;
    text-align: center;

    &.hide{
        z-index: -10;
        opacity: 0;
        transition: all .8s;
    }

}


.logo{
    position: absolute;
    width: 50%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: text 4s 1 forwards;
}

.text{
    width: 60%;
}

text{
    stroke-dasharray: 800;
    stroke-dashoffset: -800;
    

}
text.is-active{
    animation: text 4s 1 forwards;
}

@keyframes text{

    0%{
        width: 0;
        top: 45%;
    }

    70%{
        width: 70%;
        fill: transparent;
        stroke-dashoffset: 0;
        stroke-width: 1;
    }


    75% {
        stroke-dashoffset: 0;
        stroke-width: 1;
    }

    100% {
        fill: black;
        stroke-width: 0;
        width: 70%
    }
}




a:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color:#efefef; 
    z-index: -100;
}

.header{
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    text-align: center;
    padding: 1rem;
    transition: all 0.5s;

    &.active{
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 100;
    background-color: #ffffff;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    text-align: center;
    padding: 1rem;
    transition: all 0.5s;

    }

    h1{
        font-size: 1.2rem;
    }
}

.menu-open{
    position: absolute;
    position: fixed;
    z-index: 500;
    left: 1rem;
    top: 1rem;
    width: 20px;
    height: 20px;
    // background: red;
    z-index: 300;
    cursor: pointer;

    span{
        display: block;
        margin-top: 3px;
        width: 20px;
        height: 2px;
        background-color: black;
        border-radius: 40%;
    }

}

nav{
    position: absolute;
    position: fixed;
    left: -40%;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: white;
    border-right: rgba(0, 0, 0, 0.2) 1px solid;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.24);
    z-index: 100;
    transition: all 0.5s;

    & ul{
        position: absolute;
        width: 100%;
        height: 40%;
        top: 10%;
        
        & li a{
            display: block;
            text-align: center;
            margin: 2rem;
        }
    }

    &.active{
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: white;
    border-right: rgba(0, 0, 0, 0.2) 1px solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    z-index: 900;
    transition: all 0.5s;

    & ul{
        position: absolute;
        width: 100%;
        height: 40%;
        top: 10%;
        
        & li a{
            display: block;
            text-align: center;
            margin: 2rem;
        }
    }

    }

    .nav-social-media{
        position: absolute;
        top: 80%;
        left:0;
        height: 2rem;
        width: 100%;
        text-align: center;

        & a{
            margin: .5rem;
        }
   
    }

    .menu-close{
        position: absolute;
        right: .5rem;
        top: .5rem;
        width: 18px;
        height: 18px;
        cursor: pointer;

        :nth-child(1){
            position: absolute;
            left: -2px;
            top: 7px;
            transform: rotate(45deg);
        }
        :nth-child(2){
            position: absolute;
            left: -2px;
            top: 7px;
            transform: rotate(135deg);

        }

        span{
            display: block;
            margin-top: 2px;
            width: 20px;
            height: 2px;
            background-color: black;
            border-radius: 40%;
        }

    }
}

section{
    position: relative;
    height: 100vh;
    top: 0;
    overflow: hidden;
    border-bottom:  rgba(0, 0, 0, 0.2) 1px solid;
}

// Home page

.welcome{
    position: absolute;
    width: 80%;
    top: 6rem;
    left: 50%;
    padding: 0.5rem;
    transform: translate(-50%);
    

    & h3{
        font-size: 1.8rem;
        // color: #ffffff;

        & span{
            color: rgb(0, 0, 0);
            // color: #ffffff;
        }
    }

    & p {
        font-size: 1.2rem;
        // color: #ffffff;
    }
}

.project-link{
    position: absolute;
    top: 20rem;
    left: 50%;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    padding: 0.5rem;
    transform: translate(-50%);
    border: 1px solid black;
    background: #ffffff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;

    &:hover{
        box-shadow: 0px 0px  rgba(0, 0, 0, 0.1);
        transition: all 0.5s;
        background: #000000;
        opacity: 0.8;

        & p{
            color: #ffffff;
        }

    }
}


.cert-link{
    position: absolute;
    top: 23rem;
    left: 50%;
    width: 10rem;
    height: 2.5rem;
    text-align: center;
    padding: 0.5rem;
    transform: translate(-50%);
    border: 1px solid black;
    background: #ffffff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;

    &:hover{
        box-shadow: 0px 0px  rgba(0, 0, 0, 0.1);
        transition: all 0.5s;
        background: #000000;
        opacity: 0.8;

        & p{
            color: #ffffff;
        }

    }
}


.social-media{
    position: absolute;
    display: block;
    bottom:20%;
    right:0;
    margin-right:1rem;
    width: 2rem;
    height:10rem;
    // background: red;
    text-align: center;
    font-size: 1.3rem;
    & a{
        margin-top: 7rem;

        & i{
            margin-top: .8rem;
        }
    }
}


// About page

#about{
    padding: 5rem;
}

.bio{
    padding: 0.5rem;
    background: #ffffff;
    opacity: 0.8;
    border: rgba(0, 0, 0, 0.2) 1px solid;
    box-shadow: 3px 4px 5px  rgba(0, 0, 0, 0.1);
}

// Porfolio page

.project-container{
    position: absolute;
    display: grid;
    top: 5rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    width: 80%;
    height: 30rem;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
    grid-auto-rows: 10rem;

    & .box{
        background:#ffffff;
        border: rgba(0, 0, 0, 0.178) 1px solid;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease-in-out;

        &:hover{
            box-shadow: 0px 0px rgba(0, 0, 0, 0.1);
            background:#efefef;
            transition: 0.5s;
        }
    }
}

.youtube{
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translate(-50%);
}

.project-one{
    text-align: center;
    padding: 1rem;

    & p{
        margin: .5rem;
        font-size: .7rem;
        z-index: 900;

    }
    & a{
        margin: 0 1rem 0 1rem;
        font-size: 1.3rem;

        & :hover{
            color: rgb(72, 160, 255);
            transition: all 0.5s;
        }
    }
}

.project-two{
    text-align: center;
    padding: 1rem;

    & p{
        margin: 0.5rem;
        font-size: .8rem;
    }

    & a{
        margin: 2rem;
        font-size: 2rem;
        z-index: 900;

        & :hover{
            color: rgb(72, 160, 255);
            transition: all 0.5s;
        }
    }
}

.project-three{
    text-align: center;
    padding: 1rem;

    & p{
        margin: 1rem;
    }

    & a{
        margin: 2rem;
        font-size: 2rem;
        z-index: 900;

        & :hover{
            color: rgb(72, 160, 255);
            transition: all 0.5s;
        }
    }


}


// Contact page

#contact{
    padding: 5rem;
}

.contact{
    padding: 0.5rem;
    background: #ffffff;
    opacity: 0.8;
    border: rgba(0, 0, 0, 0.2) 1px solid;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);

}

// Footer

footer{
    position: relative;
    width: 100%;
    height: 8rem;
    padding: 1rem;
    color: #000000;
    background: #ffffff;
    text-align: center;
}


@media screen and (max-width: 870px){

    nav{
        position: absolute;
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border-right: rgba(0, 0, 0, 0.2) 1px solid;
        z-index: 100;
        transition: all .5s;

        & ul{
            position: absolute;
            width: 100%;
            height: 40%;
            top: 10%;
            
            & li a{
                display: block;
                text-align: center;
                margin: 2rem;
            }
        }
    
        &.active{
        position: absolute;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border-right: rgba(0, 0, 0, 0.2) 1px solid;
        z-index: 900;
        transition: all 0.5s;
    
        & ul{
            position: absolute;
            width: 100%;
            height: 40%;
            top: 10%;
            
            & li a{
                display: block;
                text-align: center;
                margin: 2rem;
            }
        }
    
        }
    
        .nav-social-media{
            position: absolute;
            top: 80%;
            left:0;
            width: 100%;
            text-align: center;
    
            & a{
                margin: .5rem;
            }
       
        }
    
        .menu-close{
            position: absolute;
            right: .5rem;
            top: .5rem;
            width: 18px;
            height: 18px;
            cursor: pointer;
    
            :nth-child(1){
                position: absolute;
                left: -2px;
                top: 7px;
                transform: rotate(45deg);
            }
            :nth-child(2){
                position: absolute;
                left: -2px;
                top: 7px;
                transform: rotate(135deg);
    
            }
    
            span{
                display: block;
                margin-top: 2px;
                width: 20px;
                height: 2px;
                background-color: black;
                border-radius: 40%;
    
                
            }
    
        }
    }

    .social-media{
        position: absolute;
        display: block;
        bottom:20%;
        right:0;
        margin-right:1rem;
        width: 2rem;
        height:10rem;
        // background: red;
        text-align: center;
        font-size: 1rem;
        & a{
            margin-top: 7rem;
    
            & i{
                margin-top: .8rem;
            }
        }
    }

    .welcome{
        position: absolute;
        width: 80%;
        top: 6rem;
        text-align: center;
        left: 50%;
        padding: 0.5rem;
        transform: translate(-50%);
        
    
        & h3{
            font-size: 1.7rem;
            // color: #ffffff;
    
            & span{
                color: rgb(0, 0, 0);
                // color: #ffffff;
            }
        }
    
        & p {
            font-size: 1rem;
            // color: #ffffff;
        }
    }

    .bio{
        font-size: .8rem;
    }

    .youtube{
        position: absolute;
        top: 70%;;
        left: 50%;
        transform: translate(-50%);
        width: 70%;


        & iframe{
            width: 100%;
            height: 70%;;
        }
    
    
    }

    .project-container{
        position: absolute;
        display: grid;
        top: 5rem;
        left: 50%;
        padding: 1rem;
        transform: translate(-50%);
        width: 80%;
        height: 30rem;
        grid-gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
        grid-auto-rows: 10rem;
    
        & div{
            background:#ffffff;
            border: rgba(0, 0, 0, 0.2) 1px solid;
            box-shadow: 3px 4px rgba(0, 0, 0, 0.1);
            transition: all 0.5s;
    
            &:hover{
                box-shadow: 0px 0px rgba(0, 0, 0, 0.1);
                background:#efefef;
                transition: all 0.5s;
            }
        }
    }
}